src/n8n_wazuh_asgard.json
{
  "name": "Asgardian SOC: Wazuh Alert → IR Response [v2.3]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wazuh-alerts",
        "options": {}
      },
      "name": "Wazuh Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "asgard-soc-alert"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ JSON.stringify($json) }}",
              "operation": "contains",
              "value2": "15"
            }
          ]
        }
      },
      "name": "Filter High Priority",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "headerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-3.5-sonnet\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are Bruce, the Asgardian SOC Orchestrator.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze this raw alert data: {{ JSON.stringify($json) }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "name": "Bruce AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [690, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zhvxjuhgfudavxrfsasn.supabase.co/rest/v1/agent_logs",
        "authentication": "headerAuth",
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent_name",
              "value": "Lady Sif (SOC IR)"
            },
            {
              "name": "task_description",
              "value": "={{ $node[\"Bruce AI Analysis\"].json.choices[0].message.content }}"
            },
            {
              "name": "status",
              "value": "RESPONDING"
            }
          ]
        }
      },
      "name": "Log to Asgard Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [910, 200]
    }
  ],
  "connections": {
    "Wazuh Webhook": {
      "main": [
        [
          {
            "node": "Filter High Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter High Priority": {
      "main": [
        [
          {
            "node": "Bruce AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bruce AI Analysis": {
      "main": [
        [
          {
            "node": "Log to Asgard Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}